 body {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* width:100%; */
  } 

.bg-light {
background-image: url(" ");
}

.navbar-light  {
    color: red;
    width: 100%;
    height: 100px;
    /* margin: auto; */
}

#card {

    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;
}

#rowCard{
    text-align: center;
    margin-top: 50px;
}

.btn-primary {
    color: #fff;
    background-color:blue;
    border-color: red;
    text-align: center;
    margin-top: 100px;
}

.btn-secondary {
    color: #fff;
    background-color: red;
    border-color: red;
    text-align: center;
    margin-top: 100px;
}


@media (min-width: 768px){
.col-md-8 {
    width:100%;
}
/* .card-image {
    width:50%;
} */
.card-body{
    width: 100%;
}
}